[Unit]
Description=NVIDIA exporter for Prometheus 

[Service]
Type=simple
Restart=always
ExecStart=/usr/local/bin/nvidia_smi_exporter 

[Install]
WantedBy=multi-user.target
